body {
    background:#111;
    color:white;
    font-family:Arial;
    text-align:center;

    margin:0;
    padding:10px;

    display:flex;
    flex-direction:column;
    align-items:center;

    min-height:100vh;
}

h2{
    margin-top:10px;
}

.remote{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    max-width:95vw;
}

.row{
    display:flex;
    justify-content:center;
    margin:6px 0;
}

button{
    width:18vw;
    height:18vw;
    font-size:4.5vw;
    margin:5px;

    border-radius:12px;
    border:none;

    background:#333;
    color:white;

    transition:0.2s;

    touch-action:manipulation;
}

button:active{
    background:#666;
}

.ok{
    background:#0084ff;
}
